<form action="/expenses" method="post">
  <label for="name">Expense:</label>
  <input type="" name="name">
  <label for="cost">Cost: $</label>
  <input type="" name="cost">
  <button type="submit">Add new Expense</button>
</form>
